.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.add {
  padding: 20px 70px;
  font-size: 25px;
  background-color: #8BE76D;
  border-radius: 8px;
  color: white;

}

.subtract {
  padding: 20px 70px;
  font-size: 25px;
  margin-right: 20px;
  background-color: #E77F6D;
  border-radius: 8px;
  color: white;

}

.reset {
  padding: 20px 50px;
  margin-top: 50px;
  background-color: grey;
  border-radius: 8px;
  font-size: 17px;
  color: white;

}

.beeg {
  font-size: 5em;
  margin: 0 auto;
  width: 200px;
}

.counter-buttons {
  display: flex;
  justify-content: center;
}

.egg {
  width: 40px;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: .1;
  background: url('images/egg.png');
  background-size: cover;
  transition: .5s;
}

.egg:hover {
  width: 80vw;
  height: 80vh;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 1;
  background: url('images/beeg.png');
  background-size: cover;
  transition: 10s;
}

.manual {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.forms {
  width: 350px;
  margin: 20px auto;
}

.manual > span {
  width: 120px;
  text-align: left;
  margin-left: 20px;
}

.manual > input {
  width: 80px;
}

.manual > button {
  margin-left: 20px;
}

.encounter {
  display: flex;
  justify-content: flex-start;
}

.encounter > span {
  /* margin-right: -30px; */
}

.encounter > input {
  width: 40px;
}